<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin | จัดการโพสต์</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/nav_profile.css">
    <link rel="stylesheet" href="/stylesheets/content_profile.css">

    <!-- icon -->
    <link rel="icon" href="/images/web/logo_1.png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('.logout-btn').click(function () {
                $('.popup_logout').css("display", "block");
            });
            $('.btn-confirm').click(function () {
                $('.popup_logout').css("display", "none");
            });
            $('.btn-cancel').click(function () {
                $('.popup_logout').css("display", "none");
            });
            $('.btn_delete').click(function () {
                $('.popup_box').css("display", "block");
            });
            $('.btn-confirm').click(function () {
                $('.popup_box').css("display", "none");
            });
            $('.btn-cancel').click(function () {
                $('.popup_box').css("display", "none");
            });
        });

    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="popup_box">
        <i class="fi fi-rr-exclamation"></i>
        <h1>คุณต้องการลบสูตรหรือไม่ ? </h1>
        <div class="btns">
            <a id="x" class="btn-confirm" style="cursor: pointer;text-decoration: none;">ยืนยัน</a>
            <a class="btn-cancel" style="cursor: pointer;">ยกเลิก</a>
        </div>
    </div>
    <a href="#nav">
        <div class="plus">
            <i class="material-icons" style="font-size:36px">expand_less</i>
        </div>
    </a>
    <nav id="nav">
        <ul>
            <a href="/home"><img class="logo" src="/images/web/logo.png" alt="logo"></a>
            <li class="btn"><a class="active" href="/profile">
                    <%=user.username %>
                </a></li>
            <li class="btn"><a href="/addrecipe">เพิ่มสูตร</a></li>
            <li class="btn "><a href="/home">หน้าหลัก</a></li>
        </ul>
    </nav>
    <div class="contrainer">
        <div class="profile">
            <div class="box">
                <img class="profile_img" src="/images/web/profile_user.png" alt="profile admin">
                <div class="profile_name">
                    <p class="username">
                        <%=user.username %>
                    </p>
                    <p class="email">
                        <%=user.email %>
                    </p>
                </div>
            </div>
            <div class="box">
                <button class="edit-btn" onclick="location.href='/editprofile'">แก้ไขข้อมูลส่วนตัว</button>
                <button class="logout-btn">ออกจากระบบ</button>
                <div class="popup_logout">
                    <i class="fi fi-rr-exclamation"></i>
                    <h1>คุณยืนยันจะออกจากระบบหรือไม่</h1>
                    <div class="btns">
                        <a href="/logout" class="btn-confirm">ยืนยัน</a>
                        <a href="#" class="btn-cancel">ยกเลิก</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <ul class="nav-tabs">
                <li><a href="/profile">สูตรของฉัน</a></li>
                <li><a href="/manageuser">จัดการบัญชีผู้ใช้งาน</a></li>
                <li><a class="active" href="/managepost">จัดการโพสต์</a></li>
            </ul>
        </div>
        <div class="count_recipe">
            <p>จำนวน <%=num %> โพสต์</p>
        </div>
        <% let i=1 %>
            <% recipes.forEach((item)=>{ %>
                <div class="row">
                    <div class="num">
                        <%=i %>
                    </div>
                    <div class="title">
                        <div class="title_list">
                            <p>ชื่อเมนู :</p>
                            <p>ชนิดเค้ก :</p>
                            <p>วัตถุดิบ :</p>
                            <p>ขั้นตอน :</p>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="detail_list">
                            <p>
                                <%=item.recipe_name %>
                            </p>
                            <p>
                                <%=item.category %>
                            </p>
                            <p>
                                <% item.ingredients.forEach((ingre)=>{ %>
                                    <%= ingre %>
                                        <% }) %>
                            </p>
                            <p>
                                <% item.recipe.forEach((ingre)=>{ %>
                                    <%= ingre %>
                                        <% }) %>
                            </p>
                        </div>
                    </div>
                    <div class="cake" style="background-image: url('/images/post/<%=item.cake_pic %>');">
                    </div>
                    <div class="btn" onclick="removeRecipePost('<%=item._id %>')">
                        <a href="#detail"><button class="btn_delete"><i class="fi fi-rr-trash"></i></button></a>
                    </div>
                </div>
                <% i++ })%>


    </div>
    <script>
        function removeRecipePost(id) {
            let a = document.getElementById('x')
            a.href = '/managepost/delrecipe?id=' + id
        }
    </script>
</body>

</html>